{% load static vite %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>tests</title>
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1>Vite playground</h1>
    {% vite_hrm %}
    {% vite_style "www/index.vite.css" %}
    {% vite_script "www/index.vite.js" style=True %}
    {% vite_style "www/styles3.css" %}
    <div id="app"></div>
  </body>
</html>
